{% load i18n %}
{% load django_bootstrap5 %}
{% if USERNAME_LOGIN %}
    <div class="gap-2 mb-5">
        <form method="POST"
              action="{% url "convention:login" %}?next={{ request.path }}"
              accept-charset="UTF-8">
            {% bootstrap_form form %}
            {% csrf_token %}
            <div>
                <input class="btn btn-primary login-btn" type="submit" value="Login">
            </div>
            {% url 'convention:password_reset' as password_reset_url %}
            <div class="password-reset-link">
                <a href="{{ password_reset_url }}">{% translate 'Forgotten your password or username?' %}</a>
            </div>
        </form>
    </div>
{% endif %}
<div class="d-inline-flex gap-2 mb-5">
    <a href="{% url "social:begin" "clyde" %}?next={{ request.path }}">
        <button class="d-inline-flex align-items-center btn btn-primary btn-lg px-4 rounded-pill"
                type="button">Log in with {{ CONVENTION_NAME }} Registration</button>
    </a>
</div>
